html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e09b9b;
	text-align: center;
}
